
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2em; 
}

.para {
    color: rgb(242, 236, 236);
    width: 100%;
}

section {
    padding: 10px; 
    margin: 10px;
    border-radius: 5px;
    font-size: 1em; 
}

section h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.color {
    margin-top: 100px;
}


@media (max-width: 768px) {
    header, footer {
        padding: 10px;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    h1 {
        font-size: 1.5em;
    }

    section {
        font-size: 0.9em;
    }

    .color {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    header, footer {
        padding: 5px;
    }

    h1 {
        font-size: 1.2em;
    }

    section {
        font-size: 0.8em;
    }

    .color {
        margin-top: 30px;
    }
}
